ul {
    list-style-type: none;
    padding: 0;
    width: 25em;
    margin: 0 auto 3em auto;
}

.contacts li {
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    margin: 1em;
    padding: .3em 0;
    height: 2em;
    border: 1px solid lightgray;
    color: black;  
}

.contacts li:hover{
    background-color: lightgray;
    color: black;
    left: .1em;
}

.contacts h3 {
    display: inline; 
}

.contacts h3:hover{
    color: black;
}

.contacts img {
    float: right;
    margin-right: 8px;
    margin-top: 2px;
}

span {
    background-color: lightgray;
    display: inline-block;
    border-radius: 4px 0 0 4px;
    padding: 0.8em 0.7em 0 0.7em;
    font-size: small;
    font-weight: bold;
    position: relative;
    left: 0px;
    top: -5px;
    height: 2.4em;
    margin-right: .8em;
    vertical-align: middle;
    color: lightslategray;
}

button {
    border-radius: 20px;
    margin: 20px auto;
    background-color: lightgray;
    font-weight: bold;
    display: block;
    height: 40px;
    width: 40px;
    font-size: x-large;
    font-weight: bold;
    color:lightslategray;
}