
    <h2 mat-dialog-title>{{title}} 
        <span *ngIf="isEdit">
           #{{contact.id}} - {{contact.firstName}} {{contact.lastName}}
        </span>
    </h2>
    <mat-dialog-content>
        <div [formGroup]="form">
        <h4>
            <label for="first-name">First Name</label>
        </h4>
            <input  matInput
                    #firstName 
                    id="first-name"
                    placeholder="First Name"
                    [(ngModel)]="contact.firstName"
                    formControlName="firstName" />
        <h4>
            <label for="last-name">Last Name</label>
        </h4>
            <input #lastName 
                    id="last-name"
                    placeholder="Last Name"
                    [(ngModel)]="contact.lastName"
                    formControlName="lastName"  />
        <h4>
            <label for="company">Company</label>
        </h4>
            <input #company 
                    id="company"
                    placeholder="Company"
                    [(ngModel)]="contact.company"
                    formControlName="company"  />    
        <h4>
            <label for="email">E-mail</label>
        </h4>
            <input #email 
                    id="email"
                    placeholder="E-mail"
                    [(ngModel)]="contact.email"
                    formControlName="email"  /> 
        <h4>
            <label >Phones</label>
        </h4>
        <div *ngFor="let phone of contact.phones; let i=index;">
            <select #phoneType
                    [(ngModel)]="contact.phones[i].type"
                    formControlName="phoneType{{phone.id}}">
                <option 
                        *ngFor="let type of phone_types"
                        [value]="type"
                        >{{type}}</option>
            </select>
            <input #phoneNumber 
                    [(ngModel)]="contact.phones[i].number"
                    placeholder="Add new number"
                    class="phone"
                    formControlName="phoneNumber{{phone.id}}"/>
            <button (click)="removePhone(phone.id);"
            class="floating destructiveButton"
            title="remove phone number">-</button>
        </div>       
        </div>
        
        <div class="phone">
            <select #phoneType>
                <option 
                        *ngFor="let type of phone_types"
                        >{{type}}</option>
            </select>
            <input  #phoneNumber
                    placeholder="Add new number"
                    class="phone"/>
            <button (click)="addPhone(phoneType.value, phoneNumber.value); phoneNumber.value=''; phoneType.value='home'"
                    class="floating actionButton"
                    title="add phone number">+</button>
        </div>    
    </mat-dialog-content>
    <mat-dialog-actions>
        <button (click)="saveContact()"
        [disabled]="!form.valid"
        class="actionButton"
        title="save contact">Save</button>
        <button (click)="close()"
                class="destructiveButton"
                title="close">Close</button>
    </mat-dialog-actions>

