/* You can add global styles to this file, and also import other style files */
body {
    background-color: white;
    margin: 50px 150px !important;
    font-family: Arial, Helvetica, sans-serif;
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
    background-color: lightgray;
    margin: 5px;
    padding: 5px;
    font-size: medium;
    border-radius: 4px;
    border: none;
    color:white;
}

button.destructiveButton{
    background-color: red;
}

button.actionButton{
    background-color: #1abc9c;
}

button:disabled {
    background-color: #bdc3c7;
}
